/* styles.css */

:root {
  /* CSS HEX */
--black: #07020dff;
--sky-surge: #5db7deff;
--soft-linen: #f1e9dbff;
--khaki-beige: #a39b8bff;
--dim-grey: #716a5cff;
}

body {
  background-color: var(--soft-linen);
}
h1 {
  color: var(--black);
}
